<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AllTestSuite" preserve-order="true" parallel="false">
	<listeners>
		<listener class-name="com.aepl.atcu.listeners.TestListener" />
	</listeners>
	<test name="AllTests">
		<classes>
			<class name="com.aepl.atcu.tests.LoginPageTest" />
			<class name="com.aepl.atcu.tests.DeviceDashboardPageTest" />		
			<class name="com.aepl.atcu.tests.MyAis140TicketsPageTest" />
			<class name="com.aepl.atcu.tests.OtaPageTest" />
			<class name="com.aepl.atcu.tests.DeviceModelPageTest" />
			<class name="com.aepl.atcu.tests.DealerFotaPageTest" />
			<class name="com.aepl.atcu.tests.DispatchedDevicePageTest" />
		</classes>
	</test>
</suite>
